<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01/EN">
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<h1>My Helpful Timestamp site</h1>
		{% block content %}{% endblock %}
		{% block footer %}
		<hr>
		<p>
			Thanks for visiting my site.
		</p>
		{% endblock %}
	</body>
</html>
