<html>
	<head>
		<title>
			Contact Us
		</title>
	</head>
	<body>
		<h1>Contact Us</h1>
		{% if errors %}
		<ul>
			{% for error in errors %}
			<li style="color:red;">{{ error }}</li>
			{% endfor %}
		</ul>

		{% endif %}
		
		
		<form action="/contact/" method="post">
			<p>Subject: <input type="text" name="subject"></p>
			<p> Your e-mail (optional): <input type="text" name="e-email"></p>
			<p>Message: <textarea name="message" rows="10" cols="50"></textarea></p>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>