{% if books %}
<p>Found {{ books|length }} book{{ books|pluralize }}.</p>
<ul>
	{% for book in books %}
	<li>{{ book.title }}</li>
	{% endfor %}
</ul>
{% else %}
<p>No Books matched your search criteria.</p>
{% endif %}
