<html>
	<head>
		<title>
			Search
		</title>
	</head>
	<body>
		{% if errors %}
		<ul>
			{% for error in errors %}
			<li style="color:red;">{{ error }}</li>
			{% endfor %}
		</ul>

		{% endif %}
		<form action="" method="get">
			<input type="text" name="q">
			<input type="submit" value="search">
		</form>
	</body>
</html>